<div class="flex flex-col h-full w-full p-3 pt-0 bg-base-200">
  <!-- Top -->
  <div class="flex-none flex flex-row">
    <div class="navbar flex items-center px-0">
      <button class="btn btn-square btn-ghost" (click)="onDrawerChange()">
        <i-lucide [img]="PanelLeftClose" class="w-5 h-5"></i-lucide>
      </button>
      <h1 class="text-xl pl-1 font-semibold">Navigation</h1>
    </div>
    <div class="grow"></div>
  </div>

  <!-- Navigation -->
  <div class="flex-grow max-h-[calc(100vh-82px)] overflow-y-auto">
    <ul class="menu bg-base-200 pt-0 rounded-box">
      <li>
        <a>Solutions</a>
        <ul>
          <li><a>Design</a></li>
          <li><a>Development</a></li>
          <li><a>Hosting</a></li>
          <li><a>Domain register</a></li>
        </ul>
      </li>
      <li>
        <a>Enterprise</a>
        <ul>
          <li><a>CRM software</a></li>
          <li><a>Marketing management</a></li>
          <li><a>Security</a></li>
          <li><a>Consulting</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="flex-none flex items-center gap-4">
    <button
      *ngIf="currentUser$ | async as user"
      type="button"
      class="flex items-center gap-3 w-full p-2 m-0 hover:bg-base-300 rounded-lg transition-colors cursor-pointer"
      (click)="onProfile()"
    >
      <!-- Image -->
      <div class="avatar avatar-placeholder">
        <div
          class="bg-neutral text-neutral-content w-10 rounded-full flex items-center justify-center"
        >
          <img
            src="https://api.dicebear.com/7.x/initials/svg?seed={{
              user.firstName
            }}%20{{ user.lastName }}"
            alt="User Avatar"
          />
        </div>
      </div>

      <!-- Name -->
      <div class="justify-center">
        <h3 class="text-sm font-semibold">
          {{ user.firstName }} {{ user.lastName }}
        </h3>
      </div>
    </button>
  </div>
</div>
