<ng-container>
  <div class="navbar bg-base-100 px-4">
    <!-- Left section -->
    <div class="flex-1 gap-4">
      <!-- Drawer Icon -->
      <ng-container *ngIf="!isDrawerOpen">
        <button class="btn btn-square btn-ghost" (click)="onDrawerChange()">
          <i-lucide [img]="PanelLeftOpen" class="w-5 h-5"></i-lucide>
        </button>
      </ng-container>

      <!-- App Title -->
      <div class="btn btn-ghost px-2" (click)="onApp()">
        <h1 class="text-xl font-bold normal-case">Mean Template</h1>
      </div>
    </div>

    <!-- Right section -->
    <div class="flex-none gap-2">
      <!-- Settings dropdown -->
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <i-lucide [img]="Settings" class="w-5 h-5"></i-lucide>
        </div>
        <ul
          tabindex="0"
          class="dropdown-content menu menu-sm z-[1] mt-3 w-48 rounded-box bg-base-200 p-2 shadow"
        >
          <li><a (click)="onLogout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
